h1{
    font-size: 86px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orangered;
    margin-top: 30px;
    text-align: center;
}
/* For navegation bar... */
nav{
    background-color: #0f0501;
    height: 30px;
    width: 99%;
    margin: 16px 8px;
    padding: 6px;
    text-align: right;
   
}
    /* For Nav bar writing component..      */

a{
    text-decoration: none;
    font-size: 24px;
    padding: 5px;
    margin: 6px;
    font-weight: 700;
    color: rgb(245, 248, 248);
}
.sect{
    margin: 50px;
    padding: 2px;
    border: salmon;
}
.top{
    margin: 50px;
}
.subdis{
    float: left ;
    margin-left: 30px;
    padding: 4px;
    border-radius:13px;
}
.on{
	
	/* padding:2px; */
	border-radius:11px;
	margin-left: 40px;
	width:60x; height:33px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    background-color:tomato;
}
.on:hover {
	background-color:#060EA0;
	color:white; cursor:pointer;
}
.forin{
    margin-top: 80px;
    margin-left: 30%;
}

.box-size{
    margin-left: 20%;
    padding: 5px;
    width: 60%;
    background-color: rgb(98, 101, 104);
    color: white;
    
}
.creat-account{
    text-align: center;
    font-size: 23px;
    font-weight: 650;
    padding: 4px;
    color: white;
}
p{
    text-align: center;
    font-size: 50px;
    color: rgb(238, 224, 224);
    background-color:orange;
    
}
.input-class{
    height: 21px;
    width: 200px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgb(184, 176, 176);
    color: rgb(17, 1, 1);
}
footer{
    text-align: center;
    margin-top: 160px;
    height: 25px;
    background-color: black;
    font-weight: 800;
    color: rgb(212, 204, 191);
    padding: 5px;
}

    /* Background Image css..  */

.background-img{
	background: url('images/royel.jpg') no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: rgb(245, 248, 248);
    font-weight: 650;
    font-size:32px ;
}
.contain{
    background-color: rgb(173, 245, 182);
}

#Log-Ininfo{
    font-family: 'Roboto', sans-serif;
    background:url("images/kaptai-lake.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;

}
        /* Java script for Login.html page ..  */

#next-page{
    background-color: cornsilk;
    border: 1px solid #ddd;
    padding: 25px;
    display: none;
    border-radius: 5px;
    float: left;
}
.booking-form{
    display: grid;
    grid-template-columns: 2.8fr 0.2fr;
    gap: 500px;
} 