#marin{
    /* font-size: 500px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(57, 230, 95);
    margin-top: 150px;
    text-align: center; 
    background-color: rgb(142, 18, 180);
}
h1{
    font-size: 1500px;
}

.contain{
    margin-top: 150px;
    background-color: rgb(214, 219, 215);
}



.image-modyfy{
    height:370px;
    width:390px;
    background-color: gainsboro;
}

footer{
    text-align: center;
    margin-top: 500px;
    height: 25px;
    background-color: rgb(240, 47, 159);
    font-weight: 800;
    color: rgb(212, 204, 191);
    padding: 5px;
}