        /* Design of Navigation Bar  */
a{
text-decoration: none;
font-size: 24px;
padding: 5px;
/* margin: 6px; */
font-weight: 700;
color: rgb(247, 244, 245);
}
.navigation{
    background-color: #0f0501;
    height: 50px;
    width: 99%;
    margin: 16px 8px;
    padding: 6px;
    text-align: right;
  
}

#marin{
  
    margin-top: 50px;
    text-align: center; 
    background-color: rgb(18, 29, 182);
}

h1{
    font: bold;
    font-size: 90px;
    color: rgba(114, 240, 245, 0.966);
  
}
h2{
    font-size: 15px;
    color: #f7f7ef;
    /* margin: 3px ,3px; */
    padding: 2px 3px;
    font: bold;
}


        /* ... Contain & Margin-gap Both for Travil info add perpas ..  */
.contain{
    background-color: rgb(214, 219, 215);
}

.Margin-gap{
    margin-top: 70px;
}


.image-modyfy{
    height:300px;
    width:390px;
    background-color: gainsboro;
}

.div3:hover{
	/* background-color:#E91507; */
	width:400px; height: 370px;
	/* -webkit-transform:rotate(360deg); */
	color: white;padding:5px;
	/* transform:rotate(360deg); */
}


footer{
    text-align: center;
    margin-top: 500px;
    height: 25px;
    background-color: rgb(240, 47, 159);
    font-weight: 800;
    color: rgb(212, 204, 191);
    padding: 5px;
}
